@import 'bootstrap';




/* common */


section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

/* basic */

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}


/* ホーム画面 */
.main{
  // margin-top: -20px;
  margin-bottom: 30px;
  height: 320px;
  background: image-url("43047b1c6aa225ba0cfab8b8a7edbc89_s.jpg") center center no-repeat;
  background-size: 50%;
  color: rgba(0,0,0,0.6);
  line-height: 300px;
  font-size: 20px;


}
